# --- PYTHON ---
backend/venv/
backend/__pycache__/
backend/*.pyc

# --- FASTAPI FILES TO IGNORE ---
*.db
*.sqlite3

# --- NODE (React) ---
frontend/node_modules/
frontend/dist/
frontend/.vite/

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db
